<section class="tipo-servico">
    <p>Categorias</p>
    <div class="erros">
        <% if(locals.erros && erros.idtipo_servico){ %>
            <span><%= erros.idtipo_servico.msg %></span>
            <% } %>
    </div>
    <% tiposServicos.forEach(tipo=> { %>
        <div>
            <label>
                <input type="radio" name="idtipo_servico" id=<%=tipo.servico %> value = <%= tipo.idtipo_servico %> form=<%= formulario %>>
                    <%= tipo.servico %>
            </label>
        </div>
        <% }) %>
</section>