<%- include('./partials/header') %>
    <h1>Sou Freelancer</h1>
    <div class="proposta">
        <%- include('./partials/tipoServico') %>
            <div>
                <div class="buscar">
                    <input type="text" placeholder="Buscar..." />
                    <button>Buscar</button>
                </div>
                <div class="cards">
                    <% servicos.forEach(servico=> { %>
                        <div class="card">
                            <form action="/proposta/listaservicos" method="post">
                            <input id="servico-tipo-servico" type="hidden" value=<%= servico.idtipo_servico %>>
                            <h4>
                                <%= servico.data_entrega.toLocaleDateString("pt-BR") %>
                            </h4>
                            <p>
                                <%= servico.descricao %>
                            </p>
                            <h3>
                                <%= servico.valor_a_pagar %>
                            </h3>
                            <button>Fazer Proposta</button>
                        </form>
                        </div>
                        <% }) %>
                </div>
            </div>
    </div>
    <%- include('./partials/footer') %>