<%- include('./partials/header') %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<a href="/">Voltar para a página inicial</a>
<%- include('./partials/footer') %>


