<%- include('./partials/header') %>
    <h1>Sou Cliente</h1>
    <div class="proposta">
            <div>
                <div class="buscar">
                    <input type="text" placeholder="Buscar..." />
                </div>
                <div class="cards">
                    <% propostas.forEach(proposta=> { %>
                        <div class="card">
                            <form id="formListaPropostasCliente" method="POST">
                                <input id="idservico" type="hidden" name="idservico" value=<%=proposta.idservico %>>
                                <input id="idproposta" type="hidden" name="idproposta" value=<%=proposta.idproposta %> >
                                <div>
                                    <div>
                                        <h4>Categoria:</h4>
                                        <h5>
                                            <%= proposta.servico %>
                                        </h5>
                                    </div>
                                    <div>
                                        <div>
                                            <h4>Descrição:</h4>
                                            <p>
                                                <%= proposta.descricao %>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <h4>Valor proposto:</h4>
                                        <h3>
                                            <%= proposta.valor_proposto_freelancer %>
                                        </h3>
                                    </div>
                                    <% if(proposta.pagamento_cliente){ %>
                                        <div>
                                            <h1>Proposta finalizada!</h1>
                                        </div>
                                        <%} %>
                                    <% if(proposta.arq_trabalhos && !proposta.pagamento_cliente) {%>
                                        <div>                                
                                            <button formaction="../propostas/liberarpagamento?_method=put" type="submit">Liberar Pagamento</button>
                                            <button formaction="../propostas/recusartrabalho?_method=put" type="submit">Recusar Trabalho Recebido</button>
                                        </div>                                  
                                    <%}%>
                                </div>
                                <% if(!proposta.aceite_cliente){ %>
                                    <button formaction="../propostas/aceitar?_method=put" type="submit">Aceitar</button>                                
                                <%}%>
                            </form>
                            <% if(proposta.aceite_cliente){ %>
                            <div class="mensagem">
                                <% if(mensagens.length > 0) {%>
                                    <% mensagens.forEach(mensagem => { %>
                                    <form action="../propostas/mensagem" method="post">
                                            <div>
                                                <sub><%= mensagem.Usuario.nome %>:</sub>
                                                <p><%= mensagem.mensagem %></p>                                           
                                            </div>
                                            <input type="hidden" name="idmensagem_resposta" id="idmensagem_resposta" value="<%= mensagem.idmensagem %>">
                                            <input type="hidden" name="idproposta" id="idproposta" value="<%= proposta.idproposta %>">
                                            <input type="hidden" name="idusuario" id="idusuario" value="<%= proposta.idusuario_cliente %>">
                                            <% if(!proposta.pagamento_cliente){ %>
                                            <div>
                                                <input type="text" name="mensagem" id="mensagem" placeholder="Responder">
                                                <button type="submit">Enviar</button>
                                            </div>
                                            <%} %>
                                    </form>
                                    <% }) %>
                                    <% } %>
                                    <% if(!proposta.pagamento_cliente){ %>
                                <form action="../propostas/mensagem" method="post">                                          
                                        <input type="hidden" name="idproposta" id="idproposta" value="<%= proposta.idproposta %>">
                                        <input type="hidden" name="idusuario" id="idusuario" value="<%= proposta.idusuario_cliente %>">
                                        <div>
                                            <input type="text" name="mensagem" id="mensagem" placeholder="Nova Mensagem">
                                            <button type="submit">Enviar</button>
                                        </div>
                                </form>
                                <%} %>
                            </div>
                            <%}%>
                        </div>
                        <% }) %>
                </div>
            </div>
    </div>
    <%- include('./partials/footer') %>