<%- include('./partials/header') %>
    <h1>Sou Freelancer</h1>
    <div class="proposta">
        <%- include('./partials/tipoServico.ejs') %>
            <div>
                <div class="buscar">
                    <input type="text" placeholder="Buscar..." />
                </div>
                <div class="cards">
                    <% propostas.forEach(proposta=> { %>
                        <div class="card">
                            <form action="../proposta/freelancer/listapropostas" id="formListaPropostasFreelancer"
                                method="POST">
                                <input id="idservico" type="hidden" name="idservico" value=<%=proposta.idservico %>>
                                <input id="idproposta" type="hidden" name="idproposta" value=<%=proposta.idproposta %> >
                                <input id="idtipo_servico" type="hidden" name="idtipo_servico"
                                    value=<%=proposta.Servico.idtipo_servico %> >
                                <div>
                                    <div>
                                        <h4>Categoria:</h4>
                                        <h5>
                                            <%= proposta.Servico.TipoServico.servico %>
                                        </h5>
                                    </div>
                                    <div>
                                        <div>
                                            <h4>Descrição:</h4>
                                            <p>
                                                <%= proposta.descricao %>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <h4>Veja meus trabalhos:</h4>
                                        <h4>
                                            <%= proposta.arq_trabalhos %>
                                        </h4>
                                    </div>
                                    <div>
                                        <h4>Valor proposto:</h4>
                                        <h3>
                                            <%= proposta.valor_proposto_freelancer %>
                                        </h3>
                                    </div>

                                    <div>
                                        <h4>Proposta Aceita?</h4>
                                        <h3>
                                            <% if(proposta.aceite_cliente){ %>
                                                Sim
                                                <%} else{ %>
                                                    Não
                                                    <%}%>
                                        </h3>
                                    </div>
                                </div>
                                <% if(proposta.aceite_cliente){ %>
                                    <button type="submit">Enviar Trabalho</button>
                                    <% if(proposta.Mensagems.length> 0){ %>
                                        <% proposta.Mensagems.forEach(mensagem => { %>
                                        <form action="./mensagem" method="post">
                                            <div>
                                                <p>
                                                    <%= mensagem.mensagem %>
                                                </p>
                                                <input type="hidden" name="idmensagem_resposta" id="idmensagem_resposta"
                                                    value="<%= mensagem.idmensagem %>">
                                                <input type="hidden" name="idproposta" id="idproposta"
                                                    value="<%= proposta.idproposta %>">
                                                <input type="hidden" name="idusuario_destinatario"
                                                    id="idusuario_destinatario"
                                                    value="<%= proposta.Servico.idusuario_cliente %>">
                                                <input type="hidden" name="idusuario_remetente" id="idusuario_remetente"
                                                    value="<%= proposta.idusuario_freelancer %>">
                                                <input type="text" name="mensagem" id="mensagem"
                                                    placeholder="Responder">
                                                <button type="submit">Enviar</button>
                                            </div>
                                        </form>
                                        <% }) %>
                                        <%}%>
                                        <form action="./mensagem" method="post">
                                            <div>                                            
                                                <input type="hidden" name="idproposta" id="idproposta" value="<%= proposta.idproposta %>">
                                                <input type="hidden" name="idusuario_destinatario" id="idusuario_destinatario" value="<%= proposta.idusuario_freelancer %>">
                                                <input type="hidden" name="idusuario_remetente" id="idusuario_remetente" value="<%= proposta.idusuario_cliente %>">
                                                <input type="text" name="mensagem" id="mensagem" placeholder="Nova Mensagem">
                                                <button type="submit">Enviar</button>
                                            </div>
                                        </form>
                                            <%} else{ %>
                                                <button type="submit"
                                                    formaction="./listapropostas?_method=delete">Excluir</button>
                                                <%}%>
                            </form>
                        </div>
                        <% }) %>
                </div>
            </div>
    </div>
    <%- include('./partials/footer') %>