<%- include('./partials/header') %>
    <h1>Sou Cliente</h1>
    <div class="proposta">
        <%- include('./partials/lista_servicos') %>
            <div>
                <div class="buscar">
                    <input type="text" placeholder="Buscar..." />
                </div>
                <div class="cards">
                    <% propostas.forEach(proposta=> { %>
                        <div class="card">
                            <form action="../proposta/cliente/listapropostas" id="formListaPropostasCliente" method="POST">
                                <input id="idservico" type="hidden" name="idservico" value=<%=proposta.idservico %>>
                                <input id="idproposta" type="hidden" name="idproposta" value=<%= proposta.idproposta %> >
                                <div>
                                    <div>
                                        <h4>Categoria:</h4>
                                        <h5>
                                            <%= proposta.Servico.TipoServico.servico %>
                                        </h5>
                                    </div>
                                    <div>
                                        <div>
                                            <h4>Descrição:</h4>
                                            <p>
                                                <%= proposta.descricao %>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <h4>Veja meus trabalhos:</h4>
                                        <h4>
                                            <%= proposta.arq_trabalhos %>
                                        </h4>
                                    </div>
                                    <div>
                                        <h4>Valor proposto:</h4>
                                        <h3>
                                            <%= proposta.valor_proposto_freelancer %>
                                        </h3>
                                    </div>
                                </div>
                                <button type="submit">Aceitar</button>
                            </form>
                        </div>
                        <% }) %>
                </div>
            </div>
    </div>
    <%- include('./partials/footer') %>